<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themedesigner.in/demo/hosting-press/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Jul 2019 16:22:30 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hosting Press - VPS Hosting</title>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#e74c3c">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#e74c3c">

    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!--Loader-->
    <link rel="stylesheet" href="css/spinners.css">


    <!-- Vendors -->
    <link rel="stylesheet" href="vendors/owl.carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/lineariconsFree/style.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Theme Styles-->
    <link rel="stylesheet" href="css/default/style.css">
    <link rel="stylesheet" href="css/responsive/responsive.css">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home">

    <div class="preloader">
        <div class="dots-loader">Loading ...</div>
    </div>

    <!-- <section class="row top_header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wc_msg">Welcome to hostpress wordpress theme</div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills">
                        <li><a href="tel:12345612348"><i class="icon-call-out"></i>123 - 456 - 12348</a></li>
                        <li><a href="mailto:info@hostpress.com"><i class="icon-envelope"></i>info@hostpress.com</a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <nav class="navbar navbar-default navbar-static-top fluid_header centered">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index-2.html"><img src="images/logo1.png" alt=""></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main_navigation">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="dropdown active">
                         <a href="index-2.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index-2.html">home 1</a></li>
                            <li><a href="index2.html">home 2</a></li>
                            <li><a href="index3.html">home 3</a></li>
                            <li><a href="index4.html">home 4</a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown">
                        <a href="index-2.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Landingpage</a>
                        <ul class="dropdown-menu">
                            <li><a href="landingpage1.html">Landingpage 1</a></li>
                            <li><a href="landingpage2.html">Landingpage 2</a></li>
                            <li><a href="landingpage3.html">Landingpage 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown mega-drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">hosting</a>
                        <ul class="dropdown-menu hosting-dropdown mega-menu">
                            <li class="service_list">
                                <div class="fleft service service1">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="images/icons/menu/hosting/1.png" alt=""></a></div>
                                        <div class="media-body">
                                            <a href="hosting-dedicated.html">dedicated hosting</a>
                                            <p>Adipiscing integer act lacinia ed justo.</p>
                                        </div>
                                    </div>
                                </div> <!--Menu Feature-->
                                <div class="fleft service service2">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="images/icons/menu/hosting/2.png" alt=""></a></div>
                                        <div class="media-body">
                                            <a href="hosting-shared.html">shared hosting</a>
                                            <p>Lacus vivamus place turpis elit.</p>
                                        </div>
                                    </div>
                                </div> <!--Menu Feature-->
                                <div class="fleft service service3">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="images/icons/menu/hosting/3.png" alt=""></a></div>
                                        <div class="media-body">
                                            <a href="hosting-reseller.html">reseller hosting</a>
                                            <p>Tristique sit nunc non elit act ultricies.</p>
                                        </div>
                                    </div>
                                </div> <!--Menu Feature-->
                                <div class="fleft service service4">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="images/icons/menu/hosting/4.png" alt=""></a></div>
                                        <div class="media-body">
                                            <a href="domain-transfer.html">domain transfer</a>
                                            <p>Dolor sit amet conse adipiscing orci.</p>
                                        </div>
                                    </div>
                                </div> <!--Menu Feature-->
                            </li>
                            <li class="start_offer">
                                <div class="row m0 inner">
                                    <h3 class="title">Starting@</h3>
                                    <h3 class="offered_price"><small>$</small>0.75/mo</h3>
                                    <h5 class="regular_price"><small>$</small>1.75/m0</h5>
                                    <a href="#" class="btn btn-default">start today</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="index4.html">domain</a></li>
                    <li><a href="features.html">features</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">pages</a>
                        <ul class="dropdown-menu"> <li><a href="about-us.html">about us</a></li>
 <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="faqs.html">faqs</a></li>
                            <li><a href="our-team.html">our team</a></li>
                            <li><a href="portfolio.html">portfolio</a></li>
                            <li><a href="shortcode.html">shortcode</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html">blog</a></li>
                            <li><a href="single.html">blog details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">contact</a></li>
                    <li class="login-link"><a href="#">login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

   {{{body}}}

    <footer class="row">
        <div class="top_footer row m0">
            <div class="container">
                <div class="row m0 quick_contact">
                    <ul class="nav nav-pills">
                        <li><a href="tel:1234567890"><i class="lnr lnr-phone"></i>123 - 456 - 7890</a></li>
                        <li><a href="mailto:info@hostpress.com"><i class="lnr lnr-envelope"></i>info@hostpress.com</a></li>
                        <li><a href="#"><i class="lnr lnr-bubble"></i>chat with us</a></li>
                    </ul>
                </div>
                <div class="row shortKnowledge">
                    <div class="col-sm-6 about">
                        <h4><a href="index-2.html"><img src="images/logo3.png" alt=""></a></h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit.viverra tellus. Vivamus finibus, quam vitae pulvinar euismod, Lorem ipsum dolor sit amet, ectetur adipiscing elit.ectetur adipiscing elit.viverra tellusivamus finibus, quam vitae pulvinar euismod,</p>
                    </div>
                    <div class="col-sm-6 product">
                        <h4>Product</h4>
                        <ul class="product_list nav">
                            <li><a href="#">Webhosting</a></li>
                            <li><a href="#">Reseler Hosting</a></li>
                            <li><a href="#">VPS Hosting</a></li>
                            <li><a href="#">Wordpress Hosting</a></li>
                            <li><a href="hosting-dedicated.html">dedicated hosting</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row beInContact m0">
                    <div class="btn-group country_select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="flag"><img src="images/icons/footer/flag.png" alt=""></span>India<i class="lnr lnr-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">India</a></li>
                            <li><a href="#">Bangladesh</a></li>
                            <li><a href="#">England</a></li>
                            <li><a href="#">Iran</a></li>
                            <li><a href="#">Syria</a></li>
                        </ul>
                    </div>
                    <div class="social_icos">
                        <ul class="nav">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="subscribe_form">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <label>Subscribe<small>Newsletter</small></label>
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                    <span class="input-group-addon"><input type="submit" value="Go" class="btn"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m0 copyright_line">
            Copyright &copy; 1999 - 2015 hostpress.com. All Rights Reserved
        </div>
    </footer>

    <!--jQuery, Bootstrap and other vendor JS-->

    <!--jQuery-->
    <script src="js/jquery-2.1.4.min.js"></script>

    <!--Google Map Api-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>

    <!--Owl Carousel-->
    <script src="vendors/owl.carousel/owl.carousel.min.js"></script>

    <!--Waypoints-->
    <script src="vendors/waypoints/waypoints.min.js"></script>

    <!--Counter Up-->
    <script src="vendors/counterup/jquery.counterup.min.js"></script>

    <!--Magnific Popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--Isotope-->
    <script src="vendors/isotope/isotope.min.js"></script>

    <!--Isotope-->
    <script src="vendors/infinitescrol/jquery.infinitescroll.min.js"></script>

    <!--Theme JS-->
    <script src="js/theme.js"></script>
</body>

<!-- Mirrored from themedesigner.in/demo/hosting-press/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Jul 2019 16:22:42 GMT -->
</html>
